html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.cell {
    display: flex;
    position: absolute;
    width: 1em;
    height: 1em;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
    overflow: hidden;
    cursor: pointer;
    transition: all 500ms;
}
.cell:hover{
    opacity: 0.75;
}
.cell.suchka{
    background-color: beige;
}
.field{
    display: flex;
    position: relative;
    font-size: 85px;
    width: 7em;
    height: 7em;
    justify-content: center;
    align-items: center;
    border-radius: 2%;
    background-image: url("7x7.png");
    background-size: contain;
    background-repeat: no-repeat;
}
.gameArea{
    display: flex;
    position: relative;
    width: 800px;
    height: 800px;
    justify-content: flex-start;
    align-items: center;
    background-image: url("background.png");
    background-size: cover;
    flex-direction: column;
    overflow: hidden;
}
.active{
    border: 1px solid greenyellow;
}
.info{
    display: flex;
    position: relative;
    width: 595px;
    height: 20%;
    justify-content: space-between;
    padding:0 103px;
}
.time{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
    color: white;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;

}
.pic1{
    width: 100%;
    height: 100%;
    background-image: url("01.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: pic 1s linear;
}
.pic2{
    width: 100%;
    height: 100%;
    background-image: url("02.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: pic 1s linear;
    transition: all 500ms;
}
.pic3{
    width: 100%;
    height: 100%;
    display: flex;
    background-position: center;
    background-image: url("03.png");
    background-size: contain;
    background-repeat: no-repeat;
    animation: pic 1s linear;
    transition: all 500ms;
}
.pic4{
    width: 100%;
    height: 100%;
    background-image: url("04.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: pic 1s linear;
    transition: all 500ms;
}
.pic5{
    width: 100%;
    height: 100%;
    background-image: url("05.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: pic 1s linear;
    transition: all 500ms;
}
.pic6{
    width: 100%;
    height: 100%;
    background-image: url("06.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: pic 1s linear;
    transition: all 500ms;
}
@keyframes pic {
    0%{
        transform: translate(0,-10em);
    }
    100%{
        transform: translate(0,0);
    }
}