@mixin plusTemporary {
  .plusTemporary{
    position: absolute;
    top: -5px;
    left: calc(100% + 30px);
    transform: translate(0,+20%);
    animation:  plusTemporaryAnimateToTop .8s ease 1;
    @keyframes plusTemporaryAnimateToTop {
      0% {
        transform: translate(0,+20%);
        opacity: 0;
      }
      20%, 80%{
        opacity: 1;
      }
      100% {
        opacity: 0;
        transform: translate(0,-100%);
      }
    }
  }
}

@mixin onPlused {
  &.plused{
    animation:  plused .4s ease 1;

    @keyframes plused {
      0%,100% {
        transform: scale(1);
      }
      45%,55% {
        transform: scale(1.2);
      }
    }
  }
}

@mixin fullScreen {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //max-width: 100vh;
  //max-height: 100vw;
}

// RESPONSIVENESS
@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: 868px - 1) {
      @content;
    }
  } @else if $media == realmobile {
    @media only screen and (max-width: 555px) and (orientation: portrait) {
      @content;
    }
  } @else if $media == mobileportrait {
    @media only screen and (max-width: 868px - 1) and (orientation: portrait) {
      @content;
    }
  } @else if $media == mobilelandscape {
    @media only screen and (max-width: 868px - 1) and (orientation: landscape) {
      @content;
    }
  } @else if $media == tabletportrait {
    @media only screen and (min-width: 868px - 1) and (max-width: 1024px - 1) {
      @content;
    }
  } @else if $media == tabletlandscape {
    @media only screen and (min-width: 1024px - 1) and (max-width: 1280px - 1) {
      @content;
    }
  } @else if $media == nondesktop {
    @media only screen and (max-width: 1280px - 1) {
      @content;
    }
  } @else if $media == nonmobile {
    @media only screen and (min-width: 868px - 1) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  } @else if $media == iphonex {
    @media only screen and (device-width: 375px) and (device-height: 812px) and (min-resolution: 3dppx) {
      @content;
    }
  } @else if $media == iphone {
    @media only screen and (-webkit-touch-callout: none) and (min-resolution:3dppx) {
      @content;
    }
  } @else {
    @media only screen and ($media) {
      @content;
    }
  }
}

@mixin click-effect {
  position: relative;
  &:after {
    content: "";
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.8s;
    border-radius: 50%;
    width: 0;
    height: 0;
    z-index: 0;
  }
  &.active:after, &.shake:after, &:active:after {
    opacity: 1;
    width: 0;
    height: 0;
    animation: active-click .8s ease 1;
  }
  @keyframes active-click {
    0%, 100%{
      width: 0%;
      height: 0%;
      opacity: 0;
    }
    50%{
      opacity: .5;
    }
    99.9%{
      width: 200%;
      height: 200%;
      opacity: 0;
    }
  }
}